In [12]:
import pandas as pd
import numpy as np

In [13]:
df= pd.read_csv('heart.csv')
df.head

<bound method NDFrame.head of      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
..     ...  ..   ...     ...
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]>

In [14]:
from sklearn.naive_bayes import BernoulliNB

In [15]:
Y = df['target']

Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [16]:
X = df.drop(['slope', 'ca', 'target'], axis = 1)
X

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  thal
0     63    1   3       145   233    1        0      150      0      2.3     1
1     37    1   2       130   250    0        1      187      0      3.5     2
2     41    0   1       130   204    0        0      172      0      1.4     2
3     56    1   1       120   236    0        1      178      0      0.8     2
4     57    0   0       120   354    0        1      163      1      0.6     2
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...   ...
298   57    0   0       140   241    0        1      123      1      0.2     3
299   45    1   3       110   264    0        1      132      0      1.2     3
300   68    1   0       144   193    1        1      141      0      3.4     3
301   57    1   0       130   131    0        1      115      1      1.2     3
302   57    0   1       130   236    0        0      174      0      0.0     2

[303 rows x 11 columns]

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split (X,Y, test_size=0.2)

In [18]:
from sklearn.svm import SVC 
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [19]:
# #HyperParameter tuning
# from sklearn.model_selection import GridSearchCV 
  
# # defining parameter range 
# param_grid = {'C': [0.1, 1, 10, 100, 1000],  
#               'gamma': [1, 0.1, 0.01, 0.001, 0.0001], 
#               'kernel': ['rbf']}  
 
        
# grid = GridSearchCV(SVC(), param_grid, refit = True, verbose = 3) 
  
# # fitting the model for grid search 
# grid.fit(X_train, y_train)

In [20]:
heartpredictor = SVC(C = 100 , gamma = 0.0001 , kernel = 'rbf')

In [23]:
heartpredictor.fit(X, Y)

SVC(C=100, gamma=0.0001)

In [24]:
import pickle

In [27]:
pickle.dump(heartpredictor, open('heartmodel', 'wb'))